<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BLToolkit" version="4.1.21" targetFramework="net40" />
  <package id="BLToolkit.MySql" version="4.1.21" targetFramework="net40" />
  <package id="FluentMigrator" version="1.1.0.0" targetFramework="net40" />
  <package id="FluentMigrator.Tools" version="1.1.0.0" targetFramework="net40" />
  <package id="MySql.Data" version="6.6.5" targetFramework="net40" />
</packages>